<footer class="rounded-lg border border-gray-300/50 backdrop-blur-md shadow-lg glow m-4">
    <div class="w-full mx-auto p-4 md:flex md:items-center md:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-200">Content and code released under public domain</span>
        <div style="align-content: center;"><a href="https://512kb.club"><img src="https://512kb.club/assets/images/orange-team.svg" alt="A proud member of the orange team of 512KB club" /></a></div>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-200 sm:mt-0">
            <li>
                <a href="/" class="hover:underline me-4 md:me-6">Home</a>
            </li>
            <li>
                <a href="/about" class="hover:underline me-4 md:me-6">About</a>
            </li>
            <!-- DISABLED FOR NOW - I forgot to do this a while ago, and need to get back to it <li>
                <a href="/privacy" class="hover:underline me-4 md:me-6">Privacy Policy</a>
            </li> -->
            <li>
                <a href="/contact" class="hover:underline">Contact</a>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>