services:
  db:
    image: mariadb:latest
    environment:
      MYSQL_ROOT_PASSWORD: iloveaidxnfun123
      MYSQL_DATABASE: aidxnfun
      MYSQL_USER: aidxnfun
      MYSQL_PASSWORD: iloveaidxnfun
    volumes:
      - /docker/db/mysql:/var/lib/mysql
    restart: unless-stopped