<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aidxn.fun | about</title>
    <link href="/css/main.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap" rel="stylesheet">
</head>
<body class="bg-gradient-to-br from-slate-900 to-black text-white font-afacad-flux">
<%- include('shards/header.ejs', { req: req }) %>
<header class="flex flex-col items-center justify-center h-[40vh] p-6">
    <h1 class="text-5xl font-bold mb-2 text-center">About Me</h1>
    <p class="text-lg text-gray-300 max-w-xl text-center mt-3">Looking to learn more?</p>
</header>
<div class="bg-gradient-to-br from-slate-800/80 to-slate-900/80 border border-slate-800 backdrop-blur-md shadow-xl rounded-2xl p-8 mx-4">
    <h3 class="text-2xl font-bold mb-4 text-white">What you're looking for</h3>
    <p class="text-slate-300 mb-4">Heyo! I'm Aidan, and I'm a human being, like you. I'm a Wikipedia editor, hobbyist programmer (Python, Node.js and PHP) and student. I am a troubled teen industry survivor and I also <i>love</i> music! I love walking (pretty much anywhere), particularly Boston and some Mass suburbs. I'm a cryptocurrency user and love it way more than credit cards/cash. However, I am strongly opposed to the adoption of Web3 technology.</p>
    <p class="text-slate-300 mb-4">I strive, as a person, to understand my peers in life. I consider myself to be extremely understanding and accepting, albeit nobody is perfect, and I still hold my biases.</p>
    <p class="text-slate-300 mb-4">Thus, I've tried to do about almost everything and learn about almost everything to get a better understanding of the world around me. I love to debate, talk and learn about other people's views, while keeping it judgement-free. I believe this has helped me find more diverse relationships.</p>
    <p class="text-slate-300 mb-4">In politics, I'm a strong Democrat and a supporter of the <a class="underline" href="https://uspirates.org">Pirate Party</a>. I hope, by the time I die, that everyone may have fair human rights, open source is standard and the troubled teen industry is torn down or rebuilt into a truly healing environment. Also, let's try our best not to let AI take over too fast, eh?</p>
    <p class="text-slate-300 mb-4">If you want, you can check out my LastFM profile <a class="underline" href="https://last.fm/user/aidxn_">here</a>. If you don't already know what LastFM is, you can see more about my music taste there. It's where the sidebar fetches now playing stats from, too!</p>

    <h3 class="text-2xl font-bold mt-6 mb-4 text-white">Technology</h3>
    <p class="text-slate-300 mb-4">I have a lot of experience with varying types of technologies. From servers to old XP machines, I've tried it all. I currently administer two Linux servers, both running Ubuntu.</p>

    <h3 class="text-2xl font-bold mt-6 mb-4 text-white">Linux Distro Experience</h3>
    <ul class="space-y-3">
        <li class="flex items-center">
            <img src="img/os/ubuntu.png" alt="Ubuntu logo" class="h-8 w-8 mr-3"><span class="text-slate-300"> Ubuntu 18.04, 20.04, 22.04, 24.04 (includes server versions of each)</span>
        </li>
        <li class="flex items-center">
            <img src="img/os/windows-server.png" alt="Windows Server logo" class="h-8 w-8 mr-3"><span class="text-slate-300"> Windows Server 2012 R2, 2016, 2019, 2022</span>
        </li>
        <li class="flex items-center">
            <img src="img/os/debian.png" alt="Debian logo" class="h-8 w-8 mr-3"><span class="text-slate-300"> Debian 9</span>
        </li>
        <li class="flex items-center">
            <img src="img/os/arch.png" alt="Arch Linux logo" class="h-8 w-8 mr-3"><span class="text-slate-300"> Arch Linux</span>
        </li>
        <li class="flex items-center">
            <img src="img/os/void.png" alt="Void Linux logo" class="h-8 w-8 mr-3"><span class="text-slate-300"> Void Linux</span>
        </li>
        <li class="flex items-center">
            <img src="img/os/gentoo.png" alt="Gentoo logo" class="h-8 w-8 mr-3"><span class="text-slate-300"> Gentoo Linux</span>
        </li>
        <li class="flex items-center">
            <img src="img/os/mint.png" alt="Linux Mint logo" class="h-8 w-8 mr-3"><span class="text-slate-300"> Linux Mint</span>
        </li>
        <li class="flex items-center">
            <img src="img/os/opensuse.png" alt="OpenSUSE logo" class="h-8 w-8 mr-3"><span class="text-slate-300"> OpenSUSE</span>
        </li>
        <li class="flex items-center">
            <img src="img/os/oracle.png" alt="Oracle logo" class="h-8 w-8 mr-3"><span class="text-slate-300"> Oracle Linux 8</span>
        </li>
    </ul>

    <h3 class="text-2xl font-bold mt-6 mb-4 text-white">Cloud</h3>
    <p class="text-slate-300 mb-4">I also work a <i class="mr-1">LOT</i> in the cloud, but not the type you might be thinking about. I almost have an obsession with enterprise cloud computing. Hell, you're actually connected to one... right now! Here are some of my favorite platforms, ranked.</p>
    <p class="text-slate-300 mb-4">This section is a work in progress, for those who don't know cloud computing. I'm working to make the wording clearer, so the non-technical folk can still understand everything here!</p>

    <ol class="list-decimal list-inside space-y-3">
        <li class="text-slate-300">Oracle Cloud</li>
        <li class="text-slate-300">Azure</li>
        <li class="text-slate-300">AWS</li>
    </ol>

    <p class="text-slate-300 mt-4">You can learn more about my opinions on cloud platforms <a class="underline" href="/cloud">on this page</a>.</p>
</div>
<div class="mt-3">
    <%- include('shards/views.ejs') %>
</div>
<script src="js/main.js"></script>
<%- include('shards/footer.ejs') %>