<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>❄️ aidxn.fun | digital manifesto</title>
    <link href="/css/main.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap" rel="stylesheet">
</head>
<body class="bg-gradient-to-br from-slate-900 to-black text-white font-afacad-flux">
<%- include('shards/header.ejs', { req: req }) %>
<header class="flex flex-col items-center justify-center h-[40vh] p-6">
    <h1 class="text-5xl font-bold mb-2 text-center">Digital Manifesto</h1>
    <p class="text-lg text-gray-300 max-w-xl text-center mt-3">A commitment from me for a better Internet space.</p>
</header>
<div class="bg-gradient-to-br from-slate-800/80 to-slate-900/80 border border-slate-800 backdrop-blur-md shadow-xl rounded-2xl p-8 mx-4">
    <h3 class="text-2xl font-bold mb-4 text-white">1. Empathy and Understanding</h3>
    <p class="text-slate-300 mb-4">We live in a distant world. People I meet are from all over, which can be hard to understand for others. I aim to utilize my ability to connect by understanding and getting <i>interested</i> in people's lives. I pledge to:</p>
    <ul class="list-disc pl-5 space-y-2">
        <li class="text-white">Listen deeply and genuinely</li>
        <li class="text-white">Suspend judgment and seek to understand</li>
        <li class="text-white">Recognize the humanity in every digital interaction</li>
    </ul>
    <h3 class="text-2xl font-bold mb-4 mt-4 text-white">2. Unconditional Sharing</h3>
    <p class="text-slate-300 mb-4">Information should be free and accessible to all. I will:</p>
    <ul class="list-disc pl-5 space-y-2">
        <li class="text-white">Make my contributions free and accessible to all (e.g. public domain Wikipedia contributions)</li>
        <li class="text-white">Creating and sharing content for others benefit</li>
        <li class="text-white">Supporting open-source principles</li>
        <li class="text-white">Creating extensive documentation on all projects</li>
    </ul>
    <h3 class="text-2xl font-bold mb-4 mt-4 text-white">2. Genuine Human Connection</h3>
    <p class="text-slate-300 mb-4">I aim to create a genuine human connection with all people I meet, regardless of who or where they are from.</p>
    <h3 class="text-2xl font-bold mb-4 mt-4 text-white">3. Commitment to Privacy with Personal Services</h3>
    <p class="text-slate-300 mb-4">In terms of my personal (some public) services, I commit to never selling, viewing or share personal information with third parties or myself. I will:</p>
    <ul class="list-disc pl-5 space-y-2">
        <li class="text-white">Respect user data as a fundamental human right</li>
        <li class="text-white">Not implement tracking and/or monetization in my services</li>
        <li class="text-white">Focus my services to focus on being free and open</li>
        <li class="text-white">Suggest/support technologies that help privacy</li>
    </ul>
    <h3 class="text-2xl font-bold mb-4 mt-4 text-white">I commit</h3>
    <p class="text-slate-300 mb-4">I am not perfect, that's for sure, but I am committed. I promise to continuously learn, grow, and adapt to my environment, goals, purpose, and the people around me.</p>
</div>
<script src="js/main.js"></script>
<%- include('shards/footer.ejs') %>